/* Contacto */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Header */
header {
   height: 50x;
   background: #AED6F1;
   background: #0769a2;
   padding: 0 50px;
   color: black;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo {
   text-transform: uppercase;
   font-weight: 200;
}

.menu a {
   color: black;
   text-transform: uppercase;
   text-decoration: none;
   padding: 0 10px;
   transition: 0.4s;
}

.mostrar-menu,
.esconder-menu {
   font-size: 30px;
   cursor: pointer;
   display: none;
   transition: 0.4s;
}

.mostrar-menu {
   order: 1;
}

.menu a:hover,
.mostrar-menu a:hover,
.esconder-menu a:hover {
   color: #FDFEFE;
}

#check {
   display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container-form {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-top: 90px;
}

.container-form h2 {
    margin-bottom: 15px;
    font-size: 35px
}

.container-form p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.container-form a {
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}

.container-form a i {
    color: #055786;
    margin-right: 10px;
}

.container-form form .campo,
textarea {
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}

.container-form form textarea {
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}

.container-form .btn-enviar {
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: #055786;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}

.container-form .btn-enviar:hover {
    background: #055786;
}

/* Responsive */
@media(max-width:768px) {

   .mostrar-menu,
   .esconder-menu {
       display: block;
   }

   .menu {
       position: fixed;
       width: 100%;
       height: 100vh;
       background: #AED6F1;
       right: -100%;
       top: 0;
       text-align: center;
       padding: 100px 0px;
       z-index: 100;
       transition: 0.8s;
   }

   .menu a {
       display: block;
       padding: 20px;
   }

   .esconder-menu {
       position: absolute;
       top: 40px;
       right: 40px;
   }

   #check:checked~.menu {
       right: 0;
   }
}

.conteiner-foot{

   width: 100%;
   margin: 1%;
   height: auto;
   display: flex;
   justify-content: space-around;

   
}

#footer {

   width: 100%;
   height: auto;
   background: #0769a2;
   display: flex;
   justify-content: space-around;
   
}

#footer img{
   width: 70px;
}

#footer .img-social-networks{
   width: 76%;
   height: auto;
   display: flex;
   justify-content: space-around;
}

#footer .letrasFooter a{
   text-decoration: none;
   color: black;
}
#footer .letrasFooter{
   width: 30%;
   height: auto;
   text-align: center;
   padding: 15px;
}
